body {


p {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}

h1 {
	font-family: "Catamaran";
	font-variant: small-caps;
	font-size: 60px;
	color: #320064;
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
}
h2 {
	font-family: "Heebo";
	font-size: 16px;
	color: #2d3033;
	margin: 0;
	font-weight: 1000;
}
