body {
 /* Richard suggestion that ended up not working... width: 500px */   
    background-color: #66CDAA;
    font-family: "Times New Roman", Times, serif;
    color: #000066;
    border: black solid 3.5px;
    margin: auto;
}

h1 {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3.5px;
}

h2 {
    text-align: center;
}	

#span1 {
    font-weight: bold;
}

#headerdiv {
    text-align: center;
}

.weekTitle {
       font-family: "Times New Roman", Times, serif;
       text-align: center;
       text-decoration: underline;
       letter-spacing: 3.5px;
       font-weight: bold;
}

.chart {
    /* Richard suggestion that ended up not working... display: flex; justify-content: center */
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: center;
    width: 400px;
    border: #4B0082 solid 3.5px;
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    background-color: white
}

/* ------------------------------------------------------------------------------
	DIFFERENT SCREEN SIZES
-------------------------------------------------------------------------------*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 360px; 
    margin: 0 auto 0 auto !important;
	  padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }
  .grid_items > div {
    padding: 10px;
  }
  .rubric {
    text-align: left;
  }
}

/* Two columns*/
@media only screen and (min-width: 900px) {
  .grid_items, .wrap {
    grid-template-columns: 47.5% 47.5%;
    max-width: 880px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: left;
  }
  .grid_items > div {
    padding: 10px;
  }
}

/* Three columns*/
@media only screen and (min-width: 1400px) {
  .grid_items, .wrap {
    grid-template-columns: 30% 30% 30%;
    max-width: 1400px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  
  .grid_items > div {
    padding: 10px;
  }
}

/* Four columns*/
@media only screen and (min-width: 1800px) {
  .grid_items, .wrap {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1900px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 10px;
  }
}
