body {
 /* This gives the page a background colour, sets the font, for the page, gives it a border, and sets a colour for all words on the page that have not been given a referenced class. */   
    background-color: #66CDAA;
    font-family: "Times New Roman", Times, serif;
    color: #000066;
    border: black solid 3.5px;
    margin: auto;
}
/* Most headings are underlined and are aligned in the centre of the page. */
h1 {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3.5px;
}

h2 {
    text-align: center;
}	

#span1 {
    font-weight: bold;
}

#headerdiv {
    text-align: center;
}

/* Titles indicating new weeks/visualisations are given the same font as the body, and same format as the headings, for consistency. */
.weekTitle {
       font-family: "Times New Roman", Times, serif;
       text-align: center;
       text-decoration: underline;
       letter-spacing: 3.5px;
       font-weight: bold;
}

.chart {
    /* My charts are given a different font to separate from the rest of the page. The borders and margins are of typical size. */
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: center;
    width: 400px;
    border: #4B0082 solid 3.5px;
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    background-color: white
}

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

/* The below CSS is taken from Richard's page, and sets a different number of columns (of graphs) on the page depending on the size of the screen that is being used. */
/* E.g., a typical phone displays one column, and iPad displays two, and a typical computer screen displays three. */
/* ------------------------------------------------------------------------------
	DIFFERENT SCREEN SIZES
-------------------------------------------------------------------------------*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 360px; 
    margin: 0 auto 0 auto !important;
	  padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }
  .grid_items > div {
    padding: 10px;
  }
  .rubric {
    text-align: left;
  }
}

/* Two columns*/
@media only screen and (min-width: 900px) {
  .grid_items, .wrap {
    grid-template-columns: 47.5% 47.5%;
    max-width: 880px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: left;
  }
  .grid_items > div {
    padding: 10px;
  }
}

/* Three columns*/
@media only screen and (min-width: 1400px) {
  .grid_items, .wrap {
    grid-template-columns: 30% 30% 30%;
    max-width: 1400px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  
  .grid_items > div {
    padding: 10px;
  }
}

/* Four columns*/
@media only screen and (min-width: 1800px) {
  .grid_items, .wrap {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1900px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 10px;
  }
}
